<h1>Welcome to my Blog</h1>

<ul><%=  @blog.title %>
<li><%= @blog.content %></li>
</ul>

<%= link_to 'Back to Home', blogs_path%>
<br>
<%= link_to 'Delete this post FOREVER', delete_blog_path(@blog), :method => :delete %>